{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About this site!</h2>
    <div class="row container">
        <p class="fs-4 text-center">
             we believe that good nutrition is the foundation for a healthy and fulfilling life. Our passion for wholesome and delicious nuts has driven us to create a store where nut lovers can indulge their cravings, discover new flavors, and experience the wonders of nature's very own superfoods.
        </p>
    </div>
</div>

{% endblock main-content %}