<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

        <link rel='stylesheet' href="{% static 'app/css/owl.carousel.min.css' %}">
        <link rel='stylesheet' href="{% static 'app/css/all.min.css' %}">
        <link rel='stylesheet' href="{% static 'app/css/style.css' %}">
        <title>Parsa Hosseini | {% block title %}{% endblock title %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="{% static 'app/images/Capture.JPG' %}" width="100" height="50">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Products
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'category' 'PS' %}">Pistachio</a></li>
                      <li><a class="dropdown-item" href="{% url 'category' 'AL' %}">Almonds</a></li>
                      <li><a class="dropdown-item" href="{% url 'category' 'HZ' %}">Hazelnut</a></li>
                      <li><a class="dropdown-item" href="{% url 'category' 'WL' %}">Walnut</a></li>
                      <li><a class="dropdown-item" href="{% url 'category' 'DA' %}">Dates</a></li>
                      <li><hr class="dropdown-divider"></li>
                      
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Warehouses
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="http://127.0.0.1:8000/warehouses">Warehouse_list</a></li>
                      
                      
                      <li><hr class="dropdown-divider"></li>
                      
                    </ul>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Parsa</a>
                    <ul class="dropdown-menu" aria-labelledy="profileDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/cart/">Orders</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-2">
                    <a href="http://127.0.0.1:8000/cart/" class="nav-item">Cart</a>
                </li> 
                
                {% else %} 
                <li class="nav-item mx-2">
                  <a href="{% url 'login' %}" class="nav-item">Login</a>
              </li> 
                <li class="nav-item mx-2">
                    <a href="{% url 'customerregistration' %}" class="nav-item">Registration</a>
                </li>
                {% endif %} 
            </ul>
            
            </div>
          </nav>
          {% block banner-slider %}{% endblock banner-slider %}
          {% block information %}{% endblock information %}
          {% block main-content %}{% endblock main-content %}


          <footer>
            Parsa Hosseini Company
          </footer>
          <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
          <script src="{% static 'app/js/all.min.js' %}"></script>
          <script src="{% static 'app/js/myscript.js' %}"></script>
    </body>
</html>